<% layout('layouts/boilerplate') %>

<div class="row offset-md-1 mt-4 mb-5">
    <div class="col-12">
        <h3 class="mb-3">Search Results for "<%= searchQuery %>"</h3>
        <% if (listings.length === 0) { %>
            <p>Sorry, No listings found matching your search criteria.</p>
            <a href="/listings" class="btn btn-primary" style="background-color: red;">Browse All Listings</a>
        <% } else { %>
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
                <% for(let listing of listings) { %>
                    <div class="col mb-4" style="min-width: 25rem;">
                        <div class="card listing-card">
                            <img src="<%= listing.image.length > 0 ? listing.image[0].url : '/images/default.jpg' %>" class="card-img-top" alt="listing_image" style="height: 20rem; object-fit: cover;">
                            <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <p class="card-text">
                                    <b><%= listing.title %></b> <br>
                                    &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                                </p>
                                <a href="/listings/<%= listing._id %>" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
</div>